.container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.inc_div {
  width: 50%;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: #eafaea;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.exc_div {
  width: 50%;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: #fbebeb;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (min-width: 955px) and (max-width: 1150px) {
  .container {
    gap: 2rem;
  }
}
@media (min-width: 850px) and (max-width: 955px) {
  .container {
    gap: 1rem;
  }
}
@media (min-width: 455px) and (max-width: 855px) {
  .container {
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    /* border: 1px solid #000; */
    align-items: center;
  }
  .container> div {
    width: 80%;
  }
}
@media (max-width: 455px) {
  .container {
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    /* border: 1px solid #000; */
    align-items: center;
  }
  .container> div {
    width: 100%;
  }
}
