.parent {
  background-image: url("https://i.ibb.co/djNGcsv/discover.png");
  padding: 2rem 0rem 0rem 0rem;

}
.container {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  
}
.left {
  color: aliceblue;
  /* width: 40%; */
}
.left_top h1 {
  font-size: 5.6rem;
  margin: 0;
}
.left_top h1:last-child {
  color: #f8822b;
}
.left_middle {
  width: 42%;
  font-size: 1.4rem;
}
.right {
  width: 55%;
}
.right img {
  width: 100%;
}

.chain_div {
  /* margin-bottom: -5rem; */
  display: flex;
}
.chain_div img {
  width: 100%;
  margin-bottom: -1rem;
  /* max-height: 0.8rem; */
}
@media (min-width:1200px) and (max-width:1500px) {
  .parent{
    padding-top: 2.5rem;
  }
  .left_middle {
    width: 72%;
    
  }
  .left_top h1 {
    font-size: 4.5rem;
    margin: 0;
  }
  .right {
    width: 70%;
  }
}

@media (min-width:900px) and (max-width:1200px) {
  .parent{
    padding-top: 2.5rem;
  }
  .container{
    width: 90%;
  }
  .left_middle {
    width: 85%;
    font-size: 1.2rem;
  }
  .left_top h1 {
    font-size: 3.8rem;
    margin: 0;
  }
  .right {
    width: 100%;
  }
 
}
@media (min-width:455px) and (max-width:900px) {
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .left {
     padding-left: 2rem;
     padding-top: 4rem;
     /* border: 1px solid #000; */
  }
  .left_top h1 {
    font-size: 3rem;
    margin: 0;
  }
  .left_middle {
    width: 80%;
    font-size: 1rem;
  }
  .right  {
    width: 50%;
    align-self: flex-end;
    /* margin-bottom: -1rem; */
    
  }
  .chain_div img {
    width: 90%;
    height: 0.4rem;
    /* margin-bottom: -1rem; */
    /* max-height: 0.8rem; */
  }
 
}



@media (max-width: 455px) {
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .left {
     padding-left: 2rem;
     padding-top: 4rem;
     /* border: 1px solid #000; */
  }
  .left_top h1 {
    font-size: 3rem;
    margin: 0;
  }
  .left_middle {
    width: 80%;
    font-size: 1rem;
  }
  .right  {
    width: 80%;
    align-self: flex-end;
    /* margin-bottom: -1rem; */
    
  }
  .chain_div img {
    width: 90%;
    height: 0.4rem;
    /* margin-bottom: -1rem; */
    /* max-height: 0.8rem; */
  }
  
}
