.parent{
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    position: relative;
    /* background-color: aliceblue; */
}
.empty_div{
    padding: 1rem;
    text-align: center;
    color: rgb(255, 81, 0);

}
.profile_section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    gap: 4rem;
    align-items: center;
    /* border: 1px solid #000; */
}
.profile_card_div{
    width: 540px;

    /* height: 100%; */
}
.animation_div{
    
    width: 650px;
    height: 220px;
    overflow: hidden;
  

}
.animation_div img{
    margin-top: -7rem;
    width: 100%;    
    border-radius: 10px;
    object-fit: cover;
}
.history_section{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.heading_div{
    color: orange;
    border-bottom: 3px solid orange;
}


/* Skeleton CSS */
@keyframes skeleton-animation {
    0% {transform: translateX(-100%);}
    50% {transform: translateX(200%);}
    100% {transform: translateX(-100%);}
  }
  .skeleton {
    background-color: #aec2a7;
    overflow: hidden;
    border-radius: 5px;
  }
  .skeleton::before {
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(149, 174, 125, 0), #dadae8, rgba(255, 255, 255, 0));
    animation: skeleton-animation 1.25s ease-in-out infinite;
  }
  
  
  
  /* Not interesting CSS */
  
  /* .container {
  
    background-color: #f7f7f7;
    box-shadow: 
       2px 2px 6px rgba(100,100,100,.5),
       0 0 6px rgba(100,100,100,.5);
    padding: 10px;
    width: 500px;
    height: 150px;
  } */
   .info {
    display: grid; 
    width:100%;
    grid-template-rows: 40px 30px 20px; 
    grid-row-gap: 10px;
    padding: 20px 0 20px 0;
  }