.parent{
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    position: relative;
    /* background-color: aliceblue; */
}
.empty_div{
    padding: 1rem;
    text-align: center;
    color: rgb(255, 81, 0);

}
.profile_section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    gap: 4rem;
    align-items: center;
    /* border: 1px solid #000; */
}
.profile_card_div{
    width: 540px;

    /* height: 100%; */
}
.animation_div{
    
    width: 650px;
    height: 220px;
    overflow: hidden;
  

}
.animation_div img{
    margin-top: -7rem;
    width: 100%;    
    border-radius: 10px;
    object-fit: cover;
}
.history_section{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.heading_div{
    color: orange;
    border-bottom: 3px solid orange;
}


